.HeroBanner {
    width: 100%;
    height: auto;
}

body{
    background: black;
    position: relative;
    overflow: hidden;
}

.contentwrapper{
    width: auto;
    height: 700px;
    position: relative;
    display: block;
    overflow-x: hidden;
}

.bodyBackground{
    width: auto;
    height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px; /* Half the height */
    margin-left: -250px;
}

nav a{
    display:block;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    position: absolute;
    z-index: 1;
    width: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.bio{
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
    padding-top: 20%;
}

.bio img{
    width: 20%;
    height: auto;
}

.bio p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shows{
    width: 100%;
    color: white;
    text-align: center;
    position: relative;
    z-index: 1;
}

.shows img{
    width: 40%;
    /*padding-top: 80%;*/
}

.shows p {
    padding-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

 footer{
    position: relative;
    text-align: center;
    bottom: 0%;
    width: 100%;
    height: 2.5rem;
    z-index: 1;
    
}

 footer img{
    height: 100%;
    width: auto;
    padding: 40px;
}

/*@media screen and (max-width: 253px){
    .bio{
        padding-bottom: 60%;
    }
}

@media screen and (max-width: 302px){
    .bio{
        margin-top: 7%;
    }

    .shows{
        margin-top: 20%;
    }

}

@media screen and (max-width: 350px){
    .shows{
        padding-top: 20%;
    }

    footer img{
        padding: 20px;
    }

    footer{
        padding-top: 20%;
        height: 3.5rem;
    }
 
}

@media screen and (max-width: 400px){
    .shows img{
        padding-top: 90%;
    }

    footer img{
        width: 30px;
        height: auto;
    }
}

@media screen and (min-width: 454px){
    .shows img{
        padding-top: 70%;
    }
}

@media screen and (min-width: 563px){
    .shows img{
        padding-top: 60%;
    }

    .biotext{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 645px){
    .shows img{
        padding-top: 55%;
    }

    .biotext{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bio{
        padding-top: 10%;
    }
}

@media screen and (min-width: 700px){

    .contentwrapper{
        padding-bottom: 30%;
    }


    .bodyBackground{
        display: block;
        width: 700px;
        height: auto;
        opacity: 0.5;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20%;
    }

    .shows img{
        padding-top: 45%;
    }

}
*/
@media screen and (max-width: 900px){
    .HeroBanner2{
        display: none;
    }
}

@media screen and (min-width: 900px){
    .HeroBanner{
        display: none;
    }

    .HeroBanner2{
        width: 100%;
        height: auto;
    }

    .bodyBackground{
        display: block;
        width: 900px;
        height: auto;
        opacity: 0.5;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20%;
    }

}