.HeroBanner {
    width: 100%;
    height: auto;
}

body{
    background: black;
    position: relative;
}

.contentwrapper{
    width: auto;
    overflow: hidden;
    height: 700px;
}

.bodyBackground{
    display: block;
    width: auto;
    height: 100%;
    opacity: 0.5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;
}

nav a{
    display:block;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: white;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav{
    position: absolute;
    z-index: 1;
    width: 200px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


.bio{
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
    padding-top: 20%;
}

.bio img{
    width: 20%;
    height: auto;
}

.bio p{
    padding-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.shows{
    width: 100%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
}

.shows img{
    width: 40%;
    padding-top: 80%;
}

.shows p {
    padding-top: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    
}

footer img{
    height: 100%;
    width: auto;
    padding: 40px;
}

@media screen and (min-width: 454px){
    .shows img{
        padding-top: 70%;
    }
}

@media screen and (min-width: 563px){
    .shows img{
        padding-top: 60%;
    }

    .biotext{
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 645px){
    .shows img{
        padding-top: 55%;
    }

    .biotext{
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bio{
        padding-top: 10%;
    }
}